body{
    text-align: center;
    margin: auto;
}
.password {
  color:green;
  border:2px blue solid;
  width: 300px;
  margin:auto;
  font-size: 200%;

}
.error {
      color: black;
			background-color:red;
}
